* { margin: 0; padding: 0; box-sizing: border-box; }

body {
  min-height: 100vh;
  font-family: 'Segoe UI', sans-serif;
  text-align: center;
  background: url('bg.jpg') center center / cover no-repeat;
  position: relative;
}

body::before {
  content: "";
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  background: rgba(0, 0, 0, 0.25);
  z-index: 0;
}

.page {
  display: none;
}
.page.active {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 30px 20px;
  position: relative;
  z-index: 1;
}
h1 {
  font-size: 2.2rem;
  color: #fff;
  margin-bottom: 12px;
  text-shadow: 0 2px 6px rgba(0,0,0,0.5);
}

p {
  font-size: 1.2rem;
  color: #fff;
  max-width: 90%;
  margin-bottom: 20px;
  line-height: 1.5;
  text-shadow: 0 2px 6px rgba(0,0,0,0.5);
}


.menu {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  max-width: 280px;
  margin-top:60px;
}

.btn, button {
  padding: 16px;
  font-size: 1.1rem;
  border: none;
  border-radius: 30px;
  background: rgba(214, 51, 108, 0.35);
  color: white;
  cursor: pointer;
  text-decoration: none;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  backdrop-filter: blur(3px);
}

.btn:active, button:active { transform: scale(0.96); }

img.photo {
  width: 85%;
  max-width: 320px;
  border-radius: 20px;
  box-shadow: 0 6px 20px rgba(0,0,0,0.25);
  margin-bottom: 20px;
  transition: opacity 0.8s ease-in-out;
}